body {
    background-color: darkcyan;
}

.paragrafo{
    background-color: green;
    padding: 15px;
    border-radius: 35px;
}

#p1 {
    height: 200px;
}

.subtitulo{
    background-color: white;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.form-button-container {
    display: flex;
    justify-content: center;
}

.form-button {
    width: 100px;
    margin-top: 20px;
}

.usuario-logado {
    margin-top: 20px;
}