body {
    background-color: darkcyan;
}

.paragrafo{
    background-color: green;
    padding: 15px;
    border-radius: 35px;
}

#p1 {
    height: 200px;
}

.subtitulo{
    background-color: white;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}