<h1>Olá mundo</h1>
{{#if isLogged}}
    <h1>Seja bem-vindo {{ nome }}</h1>
{{/if}}
<h2 id="subtitulo">Funcionou</h2>

<button id="changeSubtitle">Mudar Estilo do Subtitulo</button>

<p class="paragrafo" id="p1">Paragrafo</p>
<p class="paragrafo">Paragrafo 2</p>

<table>
    <thead>
        <th>Teste</th>
        <th>Teste2</th>
        <th>Teste3</th>
    </thead>
    <tbody>
        <tr>Dado1</tr>
        <tr>Dado2</tr>
        <tr>Dado3</tr>
    </tbody>
</table>